<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ServerCom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<hardware-list></hardware-list>
		</div>
		<div class="col-9">
			<router-outlet></router-outlet>
		</div>
	</div>		
</div>